{% extends 'generator/layout.html'  %}

{% block content %}
<title>Generador de Contraseñas Seguras</title>
</head>
<body>
  <header>
    <h1>Generador de Contraseñas Seguras</h1>
  </header>
  <section>
    <h2>Personalización Avanzada</h2>
    <p>Personaliza la longitud y los tipos de caracteres de tus contraseñas para adaptarlas a tus necesidades de seguridad.</p>
  </section>
  <section>
    <h2>Protección de Datos</h2>
    <p>Utilizamos algoritmos avanzados para garantizar la aleatoriedad y la complejidad necesarias para crear contraseñas seguras.</p>
  </section>
  <section>
    <h2>Uso Sencillo</h2>
    <p>Genera contraseñas seguras de forma rápida y sencilla seleccionando tus preferencias y haciendo clic en el botón de generación.</p>
  </section>
  <p>Para mas informacion visitar : <a href="https://github.com/martinxaviernievas"> Portafolio</a>.</p>
</body>
</html>

 {% endblock %}